:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #434455;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
}

/* Body */
body {
  color: var(--text);
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Logo */
.logo {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-part {
  color: var(--dark);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.list {
  list-style: none;
}

/* Navigation */
.header-link {
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link .link:hover,
.header-link .link:focus {
  color: var(--pressed-state);
}
.header-link .link.current {
  color: var(--primary-brand);
}

.address {
  font-style: normal;
}
.address-nav .link {
  color: var(--text);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--pressed-state);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.link {
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: var(--dark);
}

.hero-title {
  color: var(--white-background);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Buttons */

.btn {
  color: var(--white-background);
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn-filter {
  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--accent);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* Section */
.section-team {
  background-color: var(--light);
}
.section-title {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* 01 About */
.about-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.about {
  color: var(--text);
}

/* 02 Types of job*/
.types {
  color: var(--dark);
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* 03 Team */
.team-title {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team {
  color: var(--text);
}

.team-text {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-title {
  background-color: var(--white-background);
}
.team-item {
  background-color: var(--white-background);
}
/* Footer */
.logo-footer {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer-part {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer {
  color: var(--white-background);
  background-color: var(--dark);
}

.footer-text {
  color: var(--accent);
}
